<%- model_class = Patent.new.class -%>

<div class="container">
  <div class="row">
    <div class="page-header">
  	  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  	</div>
  	<!--
  	<ul class="nav nav-pills">
  	  <li
          <% if params[:browse]=="all" %>
              class="active"
          <% end %>
         >
  	   <a href="?browse=all">All</a>
  	  </li>
        <li
        <% if params[:browse]=="provisional" %>
        class="active"
        <% end %>
        >
  	   <a href="?browse=provisional">Provisional</a>
  	  </li>
        <li
        <% if params[:browse]=="standard" %>
        class="active"
        <% end %>
        >
  	   <a href="?browse=standard">Standard</a>
  	  </li>
  	</ul>
  </div>
  -->
  <div class="span2">
    <!--
   <h5>Application Type</h5>
   <%= check_box_tag :application_type %>
   <h5>Status</h5>
   <h5>Date Range</h5>
    -->
  </div>
  <div class="span10">
    <%= render "patents" %>
  </div> 
</div>