

<div class="container">

  <div class="row">


    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <h2>Patent Lookup offers a free, robust search for Australian patent applications.</h2>
      <p>To get started, enter keywords relating to the subject matter of the patent or the names of its authors or agents.</p>
      <p>
        <a class="btn btn-primary btn-large">
          Learn more
        </a>
      </p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
      <div class="span4">
        <h2><a href="/patents?browse=all">All Patents</a></h2>
        <p>Browse recently filed provisional and standard patent applications.</p>
        <p><a class="btn" href="/patents?recent">Go &raquo;</a></p>
      </div>
      <div class="span4">
        <h2><a href="/patents?browse=provisional">Provisional Patents</a></h2>
        <p>Browse provisional applications across all fields.</p>
        <p><a class="btn" href="/patents?provisional">Go &raquo;</a></p>
      </div>
      <div class="span4">
        <h2><a href="/patents?browse=standard">Standard Patents</a></h2>
        <p>Browse standard applications across all fields.</p>
        <p><a class="btn" href="/patents?provisional">Go &raquo;</a></p>
      </div>
    </div>


  </div>
</div>

