

<div class="container">

  <div class="row">


    <!-- Main hero unit for a primary marketing message or call to action -->


    <!-- Example row of columns -->
    <div class="row">
      <div class="span4">
        <h2><a href="/patents?recent">New Patents</a></h2>
        <p>Browse recently filed provisional and standard patent applications.</p>
        <p><a class="btn" href="#">Go &raquo;</a></p>
      </div>
      <div class="span4">
        <h2><a href="/patents?recent">Provisional Patents</a></h2>
        <p>Browse provisional applications across all fields.</p>
        <p><a class="btn" href="#">Go &raquo;</a></p>
      </div>
      <div class="span4">
        <h2><a href="/patents?recent">New Patents</a></h2>
        <p>Browse standard applications across all fields.</p>
        <p><a class="btn" href="#">Go &raquo;</a></p>
      </div>
    </div>


  </div>
</div>

