

<div class="container">

  <div class="row">


    <div class="hero-unit home_search">
      <h2>Patent Lookup offers a free, robust search for Australian patent applications.</h2>
      <p>To get started, enter keywords relating to the subject matter of the patent or the names of its authors or agents.</p>
      <%= form_tag patents_path, method: :get, :class => "form-search" do %>
        <div class="input-append">
            <input type="text" class="input-xlarge search-query" name="search" placeholder="Patent number, name, or inventor">
            <button type="submit" class="btn">Search</button>
          </div>
      <% end %>
      <div>
        <%= link_to "Advanced Search", "/advanced_search"%>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <h2>New Patents</h2>
        <% @patents_new.each do |f| %>
          <p>
            <%= link_to f.invention_title, patent_path(f) %>
          </p>
        <% end %>
        <a class="btn" href="/patents?browse">See more result »</a>
      </div>
      <div class="span6">
        <h2>Trending Patents</h2>
        <% @patents_trend.each do |f| %>
          <p>
            <%= link_to f.invention_title, patent_path(f) %>
          </p>
        <% end %>
        <a class="btn" href="/patents?browse">See more result »</a>
      </div>
    </div>
  </div>
</div>

